@use "../vars";

.last-news {
  margin-bottom: 3.5rem;
  &__image {
    img {
      border-radius: 0.75rem;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__content {
    &-date {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0;
      color: vars.$color-date;
      font-weight: 400;
    }
    &-title {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    &-text {
      color: vars.$color-text;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: vars.$WIDTH_MOBILE_DEVICE) {
  .last-news {
    margin-bottom: 1.5rem;
    &__image,
    &__content {
      grid-column: span 2;
    }
    &__image {
      img {
        height: 240px;
      }
    }
    &__content {
      &-date {
        line-height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      &-title {
        font-size: 1.5rem;
        line-height: 100%;
        margin-bottom: 0.5rem;
      }
      &-text {
        -webkit-line-clamp: 4;
      }
    }
  }
}
